@import "settings";
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic);


.hero-area{
	position: relative;
	.title-text{
		padding-top: 30px;
		box-sizing:border-box;
		h3{
			font-family: 'Vollkorn', serif;
			font-size: 6em;
			color:#888;
		}
		h5{
			font-family: 'Vollkorn', serif;
			font-size: 2em;
			color:black;
			font-style: italic;
			margin-bottom: 10px;
			
		}
		h5, h3{
			line-height: 1;
			margin: 0;

		}
	}
	p{
			padding: 5px;
			font-family: 'Lato', sans-serif;
	}
}
